{% extends "upload.html" %}

{% block content %}
<div>
    <a href="/"><button type="button" class="button">Another!</button></a>
</div>
<div class="cards-container">
    {% for count, message in message_list %}
    <div class="card" style="min-width: 50%;"> 
        <div class="card-container">
            <p id="liquid-block-{{ count }}" class="codeblock">
                {% autoescape false %}
                {{ message }}
                {% endautoescape %}
            </p>  
            <button type="button" class="button button-outline" data-clipboard-target="#liquid-block-{{ count }}">Copy</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

