{% extends "upload.html" %}

{% block content %}
<div mt-4>
    <a href="upload"><button type="button" class="btn btn-primary">Another!</button></a>
</div>
<div>
    {% for message in message_list %}
    <div class="card mt-4" style="min-width: 50%;"> 
        <div class="card-body p-4">
            <p id="liquid-block">
                {% autoescape false %}
                {{ message }}
                {% endautoescape %}
            </p>   
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
